@font-face {
  font-family: 'Circular';
  src: url("/fonts/Circular-Book.woff") format("woff");
  src: url("/fonts/Circular-Book.woff2") format("woff2");
}

@font-face {
  font-family: 'Oswald Bold';
  src: url("/fonts/oswald-bold-webfont.woff") format("woff");
  src: url("/fonts/oswald-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Oswald Light';
  src: url("/fonts/oswald-light-webfont.woff") format("woff");
  src: url("/fonts/oswald-light-webfont.woff2") format("woff2");
}

html {
  font-size: 16px;
}

@media (max-width: 1199.99px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 991.99px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 767.99px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 575.99px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 374.99px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: "Circular";
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #979797;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #979797;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #979797;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #979797;
}

.btn {
  border-radius: 0;
}

.btn-danger,
.badge-danger {
  background-color: #FD3F36;
}

.btn-success {
  background-color: #3F980C;
}

.btn-light {
  background-color: white;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.form-group.row {
  margin-left: 0;
  margin-right: 0;
}

.form-control::-moz-placeholder {
  color: #979797;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #979797;
}

.form-control::-webkit-input-placeholder {
  color: #979797;
}

.select2-container--bootstrap .select2-selection--single {
  height: unset;
  padding: 1rem 1.5rem 1rem 1.125rem;
}

.select2-container--bootstrap .select2-selection {
  border: 1px solid #BABABA;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.875rem;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
  color: #979797;
}

.select2-container--bootstrap.select2-container--focus .select2-selection {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border: 1px solid #BABABA;
}

.select2-container--bootstrap.select2-container--open .select2-selection {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border: 1px solid #BABABA;
}

.select2-container--bootstrap .select2-selection--single {
  border-radius: 0;
}

.select2-container--bootstrap .select2-dropdown {
  border: 1px solid #BABABA;
  border-top: 0;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-radius: 0;
  font-size: 0.875rem;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(253, 63, 54, 0.5);
}

.select2-container--bootstrap .select2-results__option {
  color: #3E3E3E;
  font-size: 0.875rem;
}

.navbar {
  padding: 1.75rem 1rem;
  background-color: #FD3F36;
}

.navbar .navbar-brand {
  line-height: 2;
}

.navbar .navbar-brand img {
  height: 1.875rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575.99px) {
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-nav .nav-item .nav-link {
  font-family: "Circular";
  color: white;
  font-size: 0.875rem;
  border-bottom: 1px solid transparent;
  line-height: 1.75rem;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  border-bottom: 1px solid white;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.navbar-nav .nav-item .nav-link img {
  width: 1.875rem;
  margin-top: -3px;
}

.navbar-nav .nav-item.dropdown .nav-link {
  border-bottom: 1px solid transparent;
  line-height: 1.625rem;
}

.navbar-nav .nav-item.dropdown .nav-link:hover,
.navbar-nav .nav-item.dropdown .nav-link.active {
  border-bottom: 1px solid transparent;
}

.navbar-nav .nav-item.dropdown .nav-link:hover span,
.navbar-nav .nav-item.dropdown .nav-link.active span {
  border-bottom: 1px solid white;
  font-weight: bold;
}

.navbar-nav .nav-item .divider {
  border-bottom: 2px solid white;
  width: 1.25rem;
  position: relative;
  top: 45%;
}

@media (max-width: 575.99px) {
  .navbar-nav .nav-item .divider {
    width: 0.5rem;
  }
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  border-radius: 0;
  font-size: 0.75rem;
}

.auth .navbar-nav .nav-item:last-child .nav-link:hover,
.auth .navbar-nav .nav-item:last-child .nav-link.active,
.welcome .navbar-nav .nav-item:last-child .nav-link:hover,
.welcome .navbar-nav .nav-item:last-child .nav-link.active {
  border-bottom: 1px solid white;
  font-weight: bold;
}

body.auth {
  background-color: #FD3F36;
  background-image: url("/img/peta-indonesia.png");
  background-position: center 7.5rem;
  background-size: 95%;
  background-repeat: no-repeat;
}

.auth form,
.user form {
  background-color: white;
  margin: 1.25rem 0 7.25rem;
  border-radius: 1rem;
}

.auth form h2,
.user form h2 {
  color: #FD3F36;
  font-size: 3.75rem;
  padding: 1.5rem 0;
}

.auth form .form-group,
.user form .form-group {
  margin-bottom: 1.5rem;
}

.auth form .form-group.last,
.user form .form-group.last {
  border-top: 1px solid #979797;
}

.auth form .form-group .form-control,
.user form .form-group .form-control {
  color: #3E3E3E;
  font-size: 0.875rem;
  padding: 1rem 1.125rem;
  border: 1px solid #BABABA;
  border-radius: 0;
}

.auth form .form-group .form-control:-moz-read-only,
.user form .form-group .form-control:-moz-read-only {
  cursor: not-allowed;
}

.auth form .form-group .form-control:read-only,
.user form .form-group .form-control:read-only {
  cursor: not-allowed;
}

.auth form .form-group .form-control.is-invalid,
.user form .form-group .form-control.is-invalid {
  border-color: #DC3545;
}

.auth form .form-group .form-control.datepicker,
.user form .form-group .form-control.datepicker {
  cursor: pointer;
}

.auth form .form-group .form-control.datepicker:disabled,
.user form .form-group .form-control.datepicker:disabled {
  cursor: not-allowed;
}

.auth form .form-group label,
.user form .form-group label {
  color: #3E3E3E;
  font-size: 0.875rem;
  cursor: pointer;
}

.auth form .form-group input[type=checkbox],
.user form .form-group input[type=checkbox] {
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.auth form .form-group .btn-link,
.user form .form-group .btn-link {
  font-size: 0.875rem;
}

.auth form .form-group button,
.user form .form-group button {
  font-size: 0.875rem;
  padding: 0.875rem 0;
  border-radius: 0;
}

.auth form .form-group button i,
.user form .form-group button i {
  font-size: 1.125rem;
}

.auth form .form-group .or,
.user form .form-group .or {
  color: #3E3E3E;
  font-size: 0.875rem;
  border-bottom: 1px solid #979797;
  line-height: 0;
  margin: 0.625rem 0;
}

.auth form .form-group .not-yet,
.user form .form-group .not-yet {
  color: #3E3E3E;
  font-size: 0.875rem;
}

.auth form .form-group .not-yet a,
.user form .form-group .not-yet a {
  color: #FD3F36;
}

.user form {
  margin: unset;
}

.user form .form-group label {
  color: #FD3F36;
  cursor: default;
  font-weight: bold;
}

body.welcome {
  background-color: #FD3F36;
  background-image: url("/img/peta-indonesia.png");
  background-position: center 6.25rem;
  background-size: 95%;
  background-repeat: no-repeat;
}

.head {
  padding-top: 6rem;
}

.head h1 {
  font-family: "Oswald Bold";
  color: white;
  font-size: 3rem;
  line-height: 4.375rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.head h1 span:last-child {
  font-family: "Oswald Bold";
  background-color: white;
  color: #FD3F36;
  padding: 0 0.875rem;
}

.head p {
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "Circular";
  letter-spacing: 1px;
  line-height: 1.125rem;
  margin-bottom: 3.625rem;
}

.head button {
  font-size: 0.875rem;
  padding: 0.875rem 0;
  border: 1px solid white;
  border-radius: 0;
}

.head button i {
  font-size: 1.125rem;
}

.head .next > div {
  margin-bottom: 1.5rem;
  margin-top: 5.875rem;
}

.head .next > div i {
  color: white;
  font-size: 2.25rem;
}

.what {
  background-color: #D9332B;
  padding: 4.5rem 0;
}

.what .title {
  color: white;
}

.what .title > div:first-child {
  font-family: "Oswald Light";
  font-size: 4.5rem;
  margin-left: 0.625rem;
}

.what .title > div:last-child {
  font-family: "Oswald Bold";
  font-size: 6.25rem;
  margin-top: -3rem;
}

.what .desc {
  color: white;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.why {
  background-color: #474747;
}

.why img {
  width: 26.5rem;
}

.why .title .top {
  color: white;
  padding: 5rem 0 2.875rem;
}

.why .title .top > div span {
  background-color: #FD3F36;
  font-size: 4rem;
}

.why .title .top > div:first-child {
  font-family: "Oswald Light";
  margin-bottom: 0.625rem;
}

.why .title .top > div:first-child span {
  line-height: 4.25rem;
  padding: 0 0.25rem;
  margin-left: -3rem;
}

.why .title .top > div:last-child {
  font-family: "Oswald Bold";
}

.why .title .top > div:last-child span {
  line-height: 5.5rem;
  padding: 0 1rem;
}

.why .title .top:last-child {
  padding: 0 0 2.875rem;
}

.why .title .bot {
  padding-bottom: 8.75rem;
}

.why .title .bot .list-unstyled .media {
  margin-bottom: 1.875rem;
}

.why .title .bot .list-unstyled .media:last-child {
  margin-bottom: 0;
}

.why .title .bot .list-unstyled .media img {
  margin-right: 2.5rem;
  width: 8rem;
}

.why .title .bot .list-unstyled .media .media-body {
  color: white;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

.how {
  background-color: #3E3E3E;
  margin-top: -17.5rem;
  padding: 20rem 0 10.5rem;
}

.how .card {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  margin-bottom: 1rem;
}

.how .card .card-body {
  padding: 1.25rem 1.625rem;
}

.how .card .card-body .num {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-right: 0.875rem;
}

.how .card .card-body .desc {
  color: white;
  font-size: 0.875rem;
  height: 6rem;
}

.how .card .card-body .desc p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.participate {
  background-color: #FD3F36;
  padding: 5rem 0 7.25rem;
}

.participate .title {
  color: #FD3F36;
  padding-bottom: 5rem;
}

.participate .title > div span {
  background-color: white;
  font-size: 4rem;
}

.participate .title > div:first-child {
  font-family: "Oswald Light";
  margin-bottom: 0.375rem;
}

.participate .title > div:first-child span {
  line-height: 4.25rem;
  padding: 0 0.25rem;
}

.participate .title > div:last-child {
  font-family: "Oswald Bold";
}

.participate .title > div:last-child span {
  font-size: 5rem;
  padding: 0 0.5rem;
  line-height: 4.75rem;
  height: 4.375rem;
}

.participate .carousel-indicators {
  left: unset;
  bottom: 5%;
  right: 0;
  margin-right: 5%;
}

.participate .carousel-indicators li {
  background-color: white;
  border: 0.25rem solid white;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.75rem;
  cursor: pointer;
}

.participate .carousel-indicators li.active {
  background-color: transparent;
}

.participate .carousel-caption {
  left: unset;
  right: 0;
  top: 10%;
  margin-right: 5%;
  padding: 0;
  width: 65%;
}

.participate .carousel-caption h1 {
  font-family: "Oswald Bold";
  font-size: 4rem;
}

.participate .carousel-caption p {
  font-size: 1.125rem;
  font-weight: bold;
}

.home .top [class*="col-"] .box-post {
  position: relative;
}

.home .top [class*="col-"] .box-post .img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home .top [class*="col-"] .box-post .img::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.home .top [class*="col-"] .box-post .desc {
  position: absolute;
  color: white;
}

.home .top [class*="col-"] .box-post .desc .date {
  font-size: 1.25rem;
}

.home .top [class*="col-"] .box-post .desc .title a {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.75rem;
}

.home .top [class*="col-"] .box-post .desc .title a:hover {
  text-decoration: none;
}

.home .top [class*="col-"]:first-child .box-post .img {
  height: 32rem;
}

@media (max-width: 575.99px) {
  .home .top [class*="col-"]:first-child .box-post .img {
    height: 24rem;
  }
}

.home .top [class*="col-"]:first-child .box-post .desc {
  top: 0;
  padding: 1.5rem;
}

@media (max-width: 575.99px) {
  .home .top [class*="col-"]:first-child .box-post .desc {
    top: unset;
    bottom: 0;
    padding: 1rem 1.5rem;
  }
}

.home .top [class*="col-"]:last-child .box-post .img {
  height: 16rem;
}

@media (max-width: 575.99px) {
  .home .top [class*="col-"]:last-child .box-post .img {
    height: 24rem;
  }
}

.home .top [class*="col-"]:last-child .box-post .desc {
  bottom: 0;
  padding: 1rem 1.5rem;
}

.home .top .headline {
  font-size: 4rem;
  background: #FD3F36;
  color: white;
  margin-top: -3rem;
  padding-right: 2rem;
  font-weight: bold;
}

@media (max-width: 575.99px) {
  .home .top .headline {
    margin-top: 0;
  }
}

.home .list {
  padding: 3.5rem 0;
}

.home .list [class*="col-"] {
  border-bottom: 1px solid #DDDDDD;
}

.home .list [class*="col-"] .card {
  border-color: transparent;
  margin-top: 2rem;
}

.home .list [class*="col-"] .card .card-img {
  position: relative;
}

.home .list [class*="col-"] .card .card-img .card-img-top {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .list [class*="col-"] .card .card-img .card-img-date {
  position: absolute;
  font-size: 0.75rem;
  background: white;
  bottom: 5%;
  width: 55%;
  padding: 0 0.75rem;
}

.home .list [class*="col-"] .card .card-body {
  padding: 1.25rem 0 1.5rem;
}

.home .list [class*="col-"] .card .card-body a {
  color: #262626;
}

.home .list [class*="col-"] .card .card-body a .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.home .list [class*="col-"] .card .card-body a .card-text {
  font-size: 0.875rem;
}

.home .list [class*="col-"] .card .card-body a:hover {
  text-decoration: none;
}

@media (max-width: 575.99px) {
  .home .list [class*="col-"]:nth-child(-n+1) .card {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .home .list [class*="col-"]:nth-child(-n+2) .card {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .home .list [class*="col-"]:nth-child(-n+3) .card {
    margin-top: 0;
  }
}

.news .headline {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 32.5rem;
}

.news .list {
  margin-top: -12.5rem;
  padding-bottom: 3rem;
}

.news .list .card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 2.625rem 2.75rem;
}

.news .list .card .card-body {
  border-radius: 0;
  padding: 0;
}

.news .list .card .card-body .card-date {
  color: #262626;
  font-size: 0.875rem;
}

.news .list .card .card-body .card-title {
  color: #FD3F36;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.125rem;
  text-align: justify;
}

.news .list .card .card-body .card-text {
  color: #262626;
  font-size: 1.125rem;
  text-align: justify;
}

.policy .headline {
  background-color: #D9332B;
  padding: 3.5rem 0;
}

.policy .headline h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.policy .headline p {
  color: white;
  font-size: 1.25rem;
  text-align: justify;
}

.policy .list {
  padding: 0 0 3rem;
}

.policy .list .card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 3.25rem;
}

.policy .list .card:last-child {
  margin-bottom: 0 !important;
}

.policy .list .card .card-img-top {
  padding: 2.125rem 2.375rem;
  margin-bottom: 0;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.policy .list .card .card-body {
  padding: 0 2.375rem 2.125rem;
  border-radius: 0;
}

.policy .list .card .card-body a:hover {
  text-decoration: none;
}

.policy .list .card .card-body a .card-title {
  color: #262626;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: bold;
}

.policy .list .card .card-body a .card-text {
  color: #262626;
  font-size: 0.875rem;
  text-align: justify;
}

.policy .list .card button {
  color: white;
  font-size: 0.875rem;
  padding: 1.25rem 0.75rem;
}

.policy.detail .headline {
  height: 15rem;
}

.policy.detail .list {
  margin-top: -7.5rem;
}

.policy.detail .list .card .card-img-top {
  max-height: unset;
  -o-object-fit: unset;
     object-fit: unset;
}

.policy.detail .list .card .card-body .card-title {
  color: #262626;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: bold;
}

.policy.detail .list .card .card-body .card-text {
  color: #262626;
  font-size: 0.875rem;
  text-align: justify;
}

.election .headline {
  background-color: #D9332B;
  padding: 3.5rem 0;
}

.election .headline h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.election .headline p {
  color: white;
  font-size: 1.25rem;
  text-align: justify;
}

.election .list {
  padding: 0 0 3rem;
}

.election .list .card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 3.25rem;
}

.election .list .card:last-child {
  margin-bottom: 0 !important;
}

.election .list .card .card-img-top {
  padding: 2.125rem 2.375rem;
  margin-bottom: 0;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.election .list .card .card-body {
  padding: 0 2.375rem 2.125rem;
  border-radius: 0;
}

.election .list .card .card-body .card-title {
  color: #262626;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: bold;
}

.election .list .card .card-body .card-text {
  color: #262626;
  font-size: 0.875rem;
  text-align: justify;
}

.election .list .card button {
  color: white;
  font-size: 0.875rem;
  padding: 1.25rem 0.75rem;
  font-weight: bold;
}

.election.detail .headline {
  height: 15rem;
}

.election.detail .list {
  margin-top: -7.5rem;
}

.election.detail .figures {
  margin-top: 2.5rem;
}

.election.detail .figures .list-figure {
  margin-top: 1.5rem;
}

@media (max-width: 575.99px) {
  .election.detail .figures .list-figure:nth-child(-n+1) {
    margin-top: 0;
  }
}

@media (min-width: 576px) {
  .election.detail .figures .list-figure:nth-child(-n+2) {
    margin-top: 0;
  }
}

.election.detail .figures .list-figure .text {
  background-color: #F2F2F2;
}

.election.detail .figures .list-figure .text a {
  color: #262626;
}

.election.detail .figures .list-figure .text a .title {
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 1rem 0;
  line-height: 1.5rem;
}

.election.detail .figures .list-figure .text a .desc {
  font-size: 0.875rem;
  padding: 0 1rem 1rem;
}

@media (max-width: 575.99px) {
  .election.detail .figures .list-figure .text a .desc {
    display: none;
  }
}

.election.detail .figures .list-figure .text a:hover {
  text-decoration: none;
}

.election.detail .figures .list-figure .badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  border-radius: 0;
}

.election.detail .figures .list-figure button {
  position: absolute;
  bottom: 0;
  padding: 0.75rem;
}

.profil .headline {
  background-color: #3E3E3E;
  border-bottom: 0.5rem solid #FD3F36;
  padding: 4rem 0;
}

.profil .headline h1 {
  color: white;
  font-size: 4rem;
}

.profil .headline p {
  color: white;
  font-size: 1.25rem;
  font-weight: lighter;
  text-align: justify;
}

.profil .list {
  padding: 3rem 0;
}

.profil .list .card {
  border-radius: 0;
}

.profil .list .card:last-child {
  margin-bottom: 0 !important;
}

.profil .list .card .card-img-top {
  padding: 2.25rem 2.25rem 0;
  margin-bottom: 2rem;
  max-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.profil .list .card .card-body {
  border-radius: 0;
  padding: 0 2.25rem 2.25rem;
}

.profil .list .card .card-body a:hover {
  text-decoration: none;
}

.profil .list .card .card-body a .card-title {
  color: #262626;
  font-size: 1.5rem;
  text-align: justify;
}

.profil .list .card .card-body a .card-text {
  color: #262626;
  font-size: 1rem;
  text-align: justify;
  font-weight: lighter;
}

.profil .list .card button {
  color: white;
  font-size: 0.875rem;
  padding: 1.25rem 0.75rem;
}

.profil.detail .headline {
  padding: 4rem 0 6rem;
}

.profil.detail .headline h1 {
  color: white;
  font-size: 2.5rem;
  text-align: justify;
  font-weight: lighter;
}

.profil.detail .list {
  padding-top: 0;
  margin-top: -3.5rem;
}

.profil.detail .list .card .card-img-top {
  max-height: unset;
  -o-object-fit: unset;
     object-fit: unset;
}

.profil.detail .list .card .card-body .card-title {
  color: #262626;
  font-size: 1.5rem;
  text-align: justify;
}

.profil.detail .list .card .card-body .card-text {
  color: #262626;
  font-size: 1rem;
  text-align: justify;
  font-weight: lighter;
}

.user .headline {
  background-color: #D9332B;
  height: 15rem;
}

.user .headline h1 {
  color: white;
  font-size: 4rem;
}

.user .headline p {
  color: white;
  font-size: 1.25rem;
  font-weight: lighter;
  text-align: justify;
}

.user .list {
  margin-top: -7.5rem;
  padding: 0 0 3rem;
}

.user .list .card {
  border-radius: 0;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.user .list .card:last-child {
  margin-bottom: 0 !important;
}

.user .list .card .upload {
  padding: 3.5rem 0;
  margin-left: 0;
  margin-right: 0;
}

.user .list .card .upload img {
  border: 0.25rem solid #FD3F36;
}

.user .list .card .upload img#avatar {
  width: 13rem;
}

.user .list .card .upload img#idCard {
  width: 18rem;
}

.user .list .card .media.user {
  padding: 3.5rem 0 3.125rem;
}

@media (max-width: 575.99px) {
  .user .list .card .media.user {
    display: block;
  }
}

.user .list .card .media.user img {
  margin-right: 3.5rem;
  width: 13.5rem;
  height: auto;
  border: 0.25rem solid #FD3F36;
}

@media (max-width: 575.99px) {
  .user .list .card .media.user img {
    margin-right: 0;
  }
}

.user .list .card .media.user .media-body span.name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.user .list .card .media.user .media-body span.birth {
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.user .list .card .card-body {
  border-radius: 0;
  padding: 0 0 2.5rem;
}

.user .list .card .card-body .card-title {
  color: #FD3F36;
  font-size: 1.5rem;
  border-bottom: 1px solid #979797;
  line-height: 0;
  font-weight: bold;
}

.user .list .card .card-body .list-unstyled {
  padding-top: 2.5rem;
}

.user .list .card .card-body .list-unstyled .media {
  margin-bottom: 1.625rem;
}

.user .list .card .card-body .list-unstyled .media:last-child {
  margin-bottom: 0;
}

.user .list .card .card-body .list-unstyled .media img {
  margin-right: 2.5rem;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid #979797;
}

@media (max-width: 575.99px) {
  .user .list .card .card-body .list-unstyled .media img {
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.user .list .card .card-body .list-unstyled .media .media-body .title {
  font-size: 1.125rem;
}

.user .list .card .card-body .list-unstyled .media .media-body .desc {
  font-size: 0.875rem;
}

footer {
  background-color: #3E3E3E;
  color: white;
  font-weight: lighter;
  padding: 1.75rem;
}

