body {
    &.auth {
        background-color: #FD3F36;
        background-image: url('/img/peta-indonesia.png');
        background-position: center 7.5rem;
        background-size: 95%;
        background-repeat: no-repeat;
    }
}

.auth,
.user {
    form {
        background-color: white;
        margin: 1.25rem 0 7.25rem;
        border-radius: 1rem;

        h2 {
            color: $primary-color;
            font-size: 3.75rem;
            padding: 1.5rem 0;
        }

        .form-group {
            margin-bottom: 1.5rem;

            &.last {
                border-top: 1px solid #979797;
            }

            .form-control {
                color: $black-color;
                font-size: 0.875rem;
                padding: 1rem 1.125rem;
                border: 1px solid #BABABA;
                border-radius: 0;

                &:read-only {
                    cursor: not-allowed;
                }

                &.is-invalid {
                    border-color: #DC3545;
                }

                &.datepicker {
                    cursor: pointer;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }
            }

            label {
                color: $black-color;
                font-size: 0.875rem;
                cursor: pointer;
            }

            input[type=checkbox] {
                height: 10px;
                width: 10px;
                cursor: pointer;
            }

            .btn-link {
                font-size: 0.875rem;
            }

            button {
                font-size: 0.875rem;
                padding: 0.875rem 0;
                border-radius: 0;

                i {
                    font-size: 1.125rem;
                }
            }

            .or {
                color: $black-color;
                font-size: 0.875rem;
                border-bottom: 1px solid #979797;
                line-height: 0;
                margin: 0.625rem 0;
            }

            .not-yet {
                color: $black-color;
                font-size: 0.875rem;

                a {
                    color: $primary-color;
                }
            }
        }
    }
}

.user {
    form {
        margin: unset;

        .form-group {
            label {
                color: $primary-color;
                cursor: default;
                font-weight: bold;
            }
        }
    }
}