.election {
    .headline {
        background-color: #D9332B;
        padding: 3.5rem 0;

        h1 {
            color: white;
            font-size: 4rem;
            font-weight: bold;
        }

        p {
            color: white;
            font-size: 1.25rem;
            text-align: justify;
        }
    }

    .list {
        padding: 0 0 3rem;

        .card {
            border-radius: 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            margin-bottom: 3.25rem;

            &:last-child {
                margin-bottom: 0 !important;
            }

            .card-img-top {
                padding: 2.125rem 2.375rem;
                margin-bottom: 0;
                max-height: 20rem;
                object-fit: cover;
            }

            .card-body {
                padding: 0 2.375rem 2.125rem;
                border-radius: 0;

                .card-title {
                    color: #262626;
                    font-size: 1.5rem;
                    text-align: justify;
                    font-weight: bold;
                }

                .card-text {
                    color: #262626;
                    font-size: 0.875rem;
                    text-align: justify;
                }
            }

            button {
                color: white;
                font-size: 0.875rem;
                padding: 1.25rem 0.75rem;
                font-weight: bold;
            }
        }
    }

    &.detail {
        .headline {
            height: 15rem;
        }

        .list {
            margin-top: -7.5rem;
        }

        .figures {
            margin-top: 2.5rem;

            .list-figure {
                margin-top: 1.5rem;

                @media (max-width: 575.99px) {
                    &:nth-child(-n+1) {
                        margin-top: 0;
                    }
                }

                @media (min-width: 576px) {
                    &:nth-child(-n+2) {
                        margin-top: 0;
                    }
                }

                .text {
                    background-color: #F2F2F2;

                    a {
                        color: #262626;

                        .title {
                            font-size: 1.125rem;
                            font-weight: bold;
                            padding: 1rem 1rem 0;
                            line-height: 1.5rem;
                        }

                        .desc {
                            font-size: 0.875rem;
                            padding: 0 1rem 1rem;

                            @media (max-width: 575.99px) {
                                display: none;
                            }
                        }

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .badge {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 1.5rem;
                    border-radius: 0;
                }

                button {
                    position: absolute;
                    bottom: 0;
                    padding: 0.75rem;
                }

            }
        }
    }
}