.navbar {
    padding: 1.75rem 1rem;
    background-color: $primary-color;

    .navbar-brand {
        line-height: 2;

        img {
            height: 1.875rem;
        }
    }
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 575.99px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar-nav {
    .nav-item {
        .nav-link {
            font-family: $font-circular;
            color: white;
            font-size: 0.875rem;
            border-bottom: 1px solid transparent;
            line-height: 1.75rem;

            &:hover,
            &.active {
                border-bottom: 1px solid white;
                font-weight: bold;
            }

            &::after {
                display: block;
                content: attr(title);
                font-weight: bold;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }

            img {
                width: 1.875rem;
                margin-top: -3px;
            }
        }

        &.dropdown {
            .nav-link {
                border-bottom: 1px solid transparent;
                line-height: 1.625rem;

                &:hover,
                &.active {
                    border-bottom: 1px solid transparent;

                    span {
                        border-bottom: 1px solid white;
                        font-weight: bold;
                    }
                }

            }
        }

        .divider {
            border-bottom: 2px solid white;
            width: 1.25rem;
            position: relative;
            top: 45%;

            @media (max-width: 575.99px) {
                width: 0.5rem;
            }
        }

        &.dropdown {
            .dropdown-menu {
                border-radius: 0;
                font-size: 0.75rem;
            }
        }
    }
}

.auth,
.welcome {
    .navbar-nav {
        .nav-item {
            &:last-child {
                .nav-link {
                    &:hover,
                    &.active {
                        border-bottom: 1px solid white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
