.home {
    .top {
        [class*="col-"] {
            .box-post {
                position: relative;

                .img {
                    background-repeat:no-repeat;
                    background-position: center center;
                    background-size: cover;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background: rgba(0, 0, 0, 0.4);
                    }
                }

                .desc {
                    position: absolute;
                    color: white;

                    .date {
                        font-size: 1.25rem;
                    }

                    .title {
                        a {
                            color: white;
                            font-size: 2.25rem;
                            font-weight: bold;
                            line-height: 2.75rem;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            &:first-child {
                .box-post {
                    .img {
                        height: 32rem;

                        @media (max-width: 575.99px) {
                            height: 24rem;
                        }
                    }

                    .desc {
                        top: 0;
                        padding: 1.5rem;

                        @media (max-width: 575.99px) {
                            top: unset;
                            bottom: 0;
                            padding: 1rem 1.5rem;
                        }
                    }
                }
            }

            &:last-child {
                .box-post {
                    .img {
                        height: 16rem;

                        @media (max-width: 575.99px) {
                            height: 24rem;
                        }
                    }

                    .desc {
                        bottom: 0;
                        padding: 1rem 1.5rem;
                    }
                }
            }
        }

        .headline {
            font-size: 4rem;
            background: $primary-color;
            color: white;
            margin-top: -3rem;
            padding-right: 2rem;
            font-weight: bold;

            @media (max-width: 575.99px) {
                margin-top: 0;
            }
        }
    }
}

.home .list {
    padding: 3.5rem 0;

    [class*="col-"] {
        border-bottom: 1px solid #DDDDDD;

        .card {
            border-color: transparent;
            margin-top: 2rem;

            .card-img {
                position: relative;

                .card-img-top {
                    height: 15rem;
                    object-fit: cover;
                }

                .card-img-date {
                    position: absolute;
                    font-size: 0.75rem;
                    background: white;
                    bottom: 5%;
                    width: 55%;
                    padding: 0 0.75rem;
                }
            }

            .card-body {
                padding: 1.25rem 0 1.5rem;

                a {
                    color: #262626;

                    .card-title {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    .card-text {
                        font-size: 0.875rem;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }

            }
        }

        @media (max-width: 575.99px) {
            &:nth-child(-n+1) {
                .card {
                    margin-top: 0;
                }
            }
        }

        @media (min-width: 576px) {
            &:nth-child(-n+2) {
                .card {
                    margin-top: 0;
                }
            }
        }

        @media (min-width: 768px) {
            &:nth-child(-n+3) {
                .card {
                    margin-top: 0;
                }
            }
        }
    }

}
