.news {
    .headline {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 32.5rem;
    }

    .list {
        margin-top: -12.5rem;
        padding-bottom: 3rem;

        .card {
            border-radius: 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
            padding: 2.625rem 2.75rem;

            .card-body {
                border-radius: 0;
                padding: 0;

                .card-date {
                    color: #262626;
                    font-size: 0.875rem;
                }

                .card-title {
                    color: $primary-color;
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-bottom: 2.125rem;
                    text-align: justify;
                }

                .card-text {
                    color: #262626;
                    font-size: 1.125rem;
                    text-align: justify;
                }
            }
        }
    }

    // &.detail {
    //     .list {
    //         padding-top: 0;
    //         margin-top: -10rem;

    //         .card {
    //             .card-img-top {
    //                 max-height: unset;
    //                 object-fit: unset;
    //             }

    //             .card-body {
    //                 .card-title {
    //                     color: #262626;
    //                     font-size: 1.5rem;
    //                     text-align: justify;
    //                 }

    //                 .card-text {
    //                     color: #262626;
    //                     font-size: 1rem;
    //                     text-align: justify;
    //                     font-weight: lighter;
    //                 }
    //             }

    //             .list-unstyled {
    //                 .media {
    //                     .image {
    //                         position: relative;

    //                         span {
    //                             position: absolute;
    //                             bottom: 5%;
    //                             right: 10%;
    //                             font-size: 2rem;
    //                             font-weight: lighter;
    //                             padding: .4em .6em;
    //                         }
    //                     }

    //                     img {
    //                         max-width: 12.5rem;
    //                     }

    //                     button {
    //                         color: white;
    //                         font-size: 0.875rem;
    //                         padding: 0.75rem 3rem;
    //                     }

    //                     .media-body {
    //                         text-align: justify;

    //                         a {
    //                             color: #262626;

    //                             &:hover {
    //                                 text-decoration: none;
    //                             }

    //                             span {
    //                                 font-weight: lighter;
    //                             }

    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}