.profil {
    .headline {
        background-color: #3E3E3E;
        border-bottom: 0.5rem solid $primary-color;
        padding: 4rem 0;

        h1 {
            color: white;
            font-size: 4rem;
        }

        p {
            color: white;
            font-size: 1.25rem;
            font-weight: lighter;
            text-align: justify;
        }
    }

    .list {
        padding: 3rem 0;

        .card {
            border-radius: 0;

            &:last-child {
                margin-bottom: 0 !important;
            }

            .card-img-top {
                padding: 2.25rem 2.25rem 0;
                margin-bottom: 2rem;
                max-height: 20rem;
                object-fit: cover;
            }

            .card-body {
                border-radius: 0;
                padding: 0 2.25rem 2.25rem;

                a {
                    &:hover {
                        text-decoration: none;
                    }

                    .card-title {
                        color: #262626;
                        font-size: 1.5rem;
                        text-align: justify;
                    }

                    .card-text {
                        color: #262626;
                        font-size: 1rem;
                        text-align: justify;
                        font-weight: lighter;
                    }
                }
            }

            button {
                color: white;
                font-size: 0.875rem;
                padding: 1.25rem 0.75rem;
            }
        }
    }

    &.detail {
        .headline {
            padding: 4rem 0 6rem;

            h1 {
                color: white;
                font-size: 2.5rem;
                text-align: justify;
                font-weight: lighter;
            }
        }

        .list {
            padding-top: 0;
            margin-top: -3.5rem;

            .card {
                .card-img-top {
                    max-height: unset;
                    object-fit: unset;
                }

                .card-body {
                    .card-title {
                        color: #262626;
                        font-size: 1.5rem;
                        text-align: justify;
                    }

                    .card-text {
                        color: #262626;
                        font-size: 1rem;
                        text-align: justify;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}
