.user {
    .headline {
        background-color: #D9332B;
        height: 15rem;

        h1 {
            color: white;
            font-size: 4rem;
        }

        p {
            color: white;
            font-size: 1.25rem;
            font-weight: lighter;
            text-align: justify;
        }
    }

    .list {
        margin-top: -7.5rem;
        padding: 0 0 3rem;

        .card {
            border-radius: 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

            &:last-child {
                margin-bottom: 0 !important;
            }

            .upload {
                padding: 3.5rem 0;
                margin-left: 0;
                margin-right: 0;

                img {
                    border: 0.25rem solid $primary-color;

                    &#avatar {
                        width: 13rem;
                    }

                    &#idCard {
                        width: 18rem;
                    }

                }
            }

            .media {
                &.user {
                    padding: 3.5rem 0 3.125rem;

                    @media (max-width: 575.99px) {
                        display: block;
                    }

                    img {
                        margin-right: 3.5rem;
                        width: 13.5rem;
                        height: auto;
                        border: 0.25rem solid $primary-color;

                        @media (max-width: 575.99px) {
                            margin-right: 0;
                        }
                    }

                    .media-body {
                        span {
                            &.name {
                                font-size: 1.25rem;
                                font-weight: bold;
                                margin-bottom: 0.625rem;
                            }

                            &.birth {
                                font-size: 0.875rem;
                                margin-bottom: 2rem;
                            }
                        }

                    }
                }
            }

            .card-body {
                border-radius: 0;
                padding: 0 0 2.5rem;

                .card-title {
                    color: $primary-color;
                    font-size: 1.5rem;
                    border-bottom: 1px solid #979797;
                    line-height: 0;
                    font-weight: bold;
                }

                .list-unstyled {
                    padding-top: 2.5rem;

                    .media {
                        margin-bottom: 1.625rem;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        img {
                            margin-right: 2.5rem;
                            height: 3.5rem;
                            width: 3.5rem;
                            border: 1px solid #979797;

                            @media (max-width: 575.99px) {
                                margin-right: 1rem;
                                height: 2.5rem;
                                width: 2.5rem;
                            }
                        }

                        .media-body {
                            .title {
                                font-size: 1.125rem;
                            }

                            .desc {
                                font-size: 0.875rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
