body {
    &.welcome {
        background-color: #FD3F36;
        background-image: url('/img/peta-indonesia.png');
        background-position: center 6.25rem;
        background-size: 95%;
        background-repeat: no-repeat;
    }
}

.head {
    padding-top: 6rem;

    h1 {
        font-family: $font-oswald-bold;
        color: white;
        font-size: 3rem;
        line-height: 4.375rem;
        margin-bottom: 2rem;
        letter-spacing: 1px;

        span {
            &:last-child {
                font-family: $font-oswald-bold;
                background-color: white;
                color: $primary-color;
                padding: 0 0.875rem;
            }
        }
    }

    p {
        color: white;
        font-size: 0.875rem;
        font-weight: bold;
        font-family: $font-circular;
        letter-spacing: 1px;
        line-height: 1.125rem;
        margin-bottom: 3.625rem;
    }

    button {
        font-size: 0.875rem;
        padding: 0.875rem 0;
        border: 1px solid white;
        border-radius: 0;

        i {
            font-size: 1.125rem;
        }
    }

    .next {
        &>div {
            margin-bottom: 1.5rem;
            margin-top: 5.875rem;

            i {
                color: white;
                font-size: 2.25rem;
            }
        }

    }
}

.what {
    background-color: #D9332B;
    padding: 4.5rem 0;

    .title {
        color: white;

        &>div {
            &:first-child {
                font-family: $font-oswald-light;
                font-size: 4.5rem;
                margin-left: 0.625rem;
            }

            &:last-child {
                font-family: $font-oswald-bold;
                font-size: 6.25rem;
                margin-top: -3rem;
            }
        }
    }

    .desc {
        color: white;
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}
.why {
    background-color: #474747;

    img {
        width: 26.5rem;
    }

    .title {
        .top {
            color: white;
            padding: 5rem 0 2.875rem;

            &>div {
                span {
                    background-color: $primary-color;
                    font-size: 4rem;
                }

                &:first-child {
                    font-family: $font-oswald-light;
                    margin-bottom: 0.625rem;

                    span {
                        line-height: 4.25rem;
                        padding: 0 0.25rem;
                        margin-left: -3rem;
                    }
                }

                &:last-child {
                    font-family: $font-oswald-bold;

                    span {
                        line-height: 5.5rem;
                        padding: 0 1rem;
                    }
                }
            }

            &:last-child {
                padding: 0 0 2.875rem;
            }
        }

        .bot {
            padding-bottom: 8.75rem;

            .list-unstyled {
                .media {
                    margin-bottom: 1.875rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    img {
                        margin-right: 2.5rem;
                        width: 8rem;
                    }

                    .media-body {
                        color: white;
                        font-size: 1.125rem;
                        line-height: 1.5rem;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}
.how {
    background-color: #3E3E3E;
    margin-top: -17.5rem;
    padding: 20rem 0 10.5rem;

    .card {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 0;
        margin-bottom: 1rem;

        .card-body {
            padding: 1.25rem 1.625rem;;

            .num {
                color: white;
                font-size: 4rem;
                font-weight: bold;
                margin-right: 0.875rem;
            }

            .desc {
                color: white;
                font-size: 0.875rem;
                height: 6rem;

                p {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.participate {
    background-color: $primary-color;
    padding: 5rem 0 7.25rem;

    .title {
        color: $primary-color;
        padding-bottom: 5rem;

        &>div {
            span {
                background-color: white;
                font-size: 4rem;
            }

            &:first-child {
                font-family: $font-oswald-light;
                margin-bottom: 0.375rem;

                span {
                    line-height: 4.25rem;
                    padding: 0 0.25rem;
                }
            }

            &:last-child {
                font-family: $font-oswald-bold;

                span {
                    font-size: 5rem;
                    padding: 0 0.5rem;
                    line-height: 4.75rem;
                    height: 4.375rem;
                }
            }
        }
    }

    .carousel-indicators {
        left: unset;
        bottom: 5%;
        right: 0;
        margin-right: 5%;

        li {
            background-color: white;
            border: 0.25rem solid white;
            width: 1.25rem;
            height: 1.25rem;
            margin: 0 0.75rem;
            cursor: pointer;

            &.active {
                background-color: transparent;
            }
        }
    }
    .carousel-caption {
        left: unset;
        right: 0;
        top: 10%;
        margin-right: 5%;
        padding: 0;
        width: 65%;

        h1 {
            font-family: $font-oswald-bold;
            font-size: 4rem;
        }

        p {
            font-size: 1.125rem;
            font-weight: bold;
        }
    }
}
