// Fonts
@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular-Book.woff') format('woff');
    src: url('/fonts/Circular-Book.woff2') format('woff2');
}
@font-face {
    font-family: 'Oswald Bold';
    src: url('/fonts/oswald-bold-webfont.woff') format('woff');
    src: url('/fonts/oswald-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Oswald Light';
    src: url('/fonts/oswald-light-webfont.woff') format('woff');
    src: url('/fonts/oswald-light-webfont.woff2') format('woff2');
}

$font-circular: 'Circular';
$font-oswald-bold: 'Oswald Bold';
$font-oswald-light: 'Oswald Light';
$font-kreon: 'Kreon', serif;
$black-color: #3E3E3E;
$primary-color: #FD3F36;
$agree-color: #3F980C;

html {
    font-size: 16px;

    // @media (max-width: 575.99px) {}
    // @media (max-width: 767.99px) {}
    // @media (max-width: 991.99px) {}
    // @media (max-width: 1199.99px) {}

    @media (max-width: 1199.99px) {
        font-size: 15px;
    }
    @media (max-width: 991.99px) {
        font-size: 14px;
    }
    @media (max-width: 767.99px) {
        font-size: 13px;
    }
    @media (max-width: 575.99px) {
        font-size: 12px;
    }
    @media (max-width: 374.99px) {
        font-size: 11px;
    }
}

// Body
body {
    font-family: $font-circular;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #979797;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #979797;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #979797;
}
:-moz-placeholder { /* Firefox 18- */
    color: #979797;
}

.btn {
    border-radius: 0;
}
.btn-danger,
.badge-danger {
    background-color: $primary-color;
}
.btn-success {
    background-color: $agree-color;
}
.btn-light {
    background-color: white;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}
.form-group.row {
    margin-left: 0;
    margin-right: 0;
}
.form-control::-moz-placeholder{
    color: #979797;
    opacity: 1;
}
.form-control:-ms-input-placeholder{
    color: #979797;
}
.form-control::-webkit-input-placeholder{
    color: #979797;
}
.select2-container--bootstrap .select2-selection--single {
    height: unset;
    padding: 1rem 1.5rem 1rem 1.125rem;

}
.select2-container--bootstrap .select2-selection {
    border: 1px solid #BABABA;
    box-shadow: none;
    font-size: 0.875rem;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
    color: #979797;
}
.select2-container--bootstrap.select2-container {
    &--focus .select2-selection {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
        border: 1px solid #BABABA;
    }
    &--open .select2-selection {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
        border: 1px solid #BABABA;
    }
}
.select2-container--bootstrap .select2-selection--single {
    border-radius: 0;
}
.select2-container--bootstrap .select2-dropdown {
    border: 1px solid #BABABA;
    border-top: 0;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border-radius: 0;
    font-size: 0.875rem;
}
.select2-container--bootstrap .select2-results__option {
    &--highlighted[aria-selected] {
        background-color: rgba(253, 63, 54, 0.5);
    }

}
.select2-container--bootstrap .select2-results__option {
    color: #3E3E3E;
    font-size: 0.875rem;

    &--highlighted[aria-selected] {

    }
}

@import '_header';
@import '_auth';
@import '_welcome';
@import '_home';
@import '_news';
@import '_policy';
@import '_election';
@import '_profil';
@import '_user';
@import '_footer';
